body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  color: #292E3E;
  margin: 0;
  padding: 0;
}

.container.all {
  .all {
    &:after {
      opacity: 1;
      transition: all ease 0.5s;
    }
  }
}

.container.done {
  .done {
    &:after {
      opacity: 1;
      transition: all ease 0.5s;
    }
  }
}
.container.progress {
  .progress {
    &:after {
      opacity: 1;
      transition: all ease 0.5s;
    }
  }
}
.container.not-started {
  .not-started {
    &:after {
      opacity: 1;
      transition: all ease 0.5s;
    }
  }
}

.nav {
  width: 20%;
  height: 100vw;
  border-right: 2px solid #EEEFF0;
  position: fixed;
  left: 0;
  top: 0;
}

.container {
  width: 80%;
  margin-left: 20%;
  height: 100vh;
  overflow: hidden;
}

.cards__wrapper {
  height: 80vh;
  overflow: scroll;
}

.cards__container {
  width: 90%;
  height: auto;
  padding-bottom: 50px;
}

.cards {
  position: relative;
  border-radius: 3px;
  padding: 0px 20px;
  background: #FBFBFB;
  transition: all ease 0.5s;
  margin: 20px 100px;
  cursor: pointer;
  &:hover {
    background: #EFF6FD;
    transition: all ease 0.5s;
    color: #5B97F0;
    .cards__tags {
      color: white !important;
      background: #5B97F0 !important;
    }
    .cards__content {
      color: #5B97F0;
      // max-height: 300px;
      transition: all ease 0.5s;
    }
    &::after {
      background: #5B97F0 !important;
      transition: all ease 0.5s;
    }
  }
  &::after {
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--not{
    &::after {
      background: #E36D6D;
    }
  }
  &--progress {
    &::after {
      background: #E3AC6D;
    }
  }
  &--done {
    &::after {
      background: #6DE39C;
    }
  }
}

.cards__title {
  font-size: 20px;
  font-weight: 600;
}

.cards__content {
  margin: 0;
  font-size: 14px;
  color: #9FA2A8;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}

.cards__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__tags {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 500;
  transition: all ease 0.5s;
  color: #83878D;
  background: #E4E6E8;
}


// header

.headerPage {
  padding: 50px 100px 0 100px;
  border-bottom: 2px solid #EEEFF0;
}

.headerPage__title {
  font-size: 36px;
  font-weight: 600;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #5B97F0;
    box-shadow: -2px 0px 69px -9px rgba(91,151,240,1);
    opacity: 0;
    transition: all ease 0.5s;
  }
  &:hover {
    &:after {
      opacity: 1;
      transition: all ease 0.5s;
    }
  }
  &--active {
    &:after {
      opacity: 1;
      transition: all ease 0.5s;
    }
    .filter__itemText {
      color: #767681;
    }
  }
}

.filter__itemCount {
  width: 30px;
  height: 30px;
  background: #EFF6FD;
  color:#5B97F0;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

}

.filter__itemText {
  font-size: 12px;
  font-weight: 600;
  color: #9FA5AC;
  text-decoration: none;
}