body {
  background: white;
}

.cards__tags {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
  &--dev {
    background: #F6D7D6;
  }
  &--front {
    background: #DCD7F3;
  }
  &--back {
    background: #F5E1D6;
  }
  &--design {
    background: #D7E4F5;
  }
}
