<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet", href="/assets/css/index.css">

  <title>Node</title>
</head>
<body>
  <header>
    <h1>Header</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/api/posts" target="_blank">Api</a></li>
    </ul>
  </nav>